{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block page_head %}
  <style type="text/css">
    .multiple-checkbox li {
      list-style-type: none;
    }
  </style>
{% endblock %}

{% block content_row %}
  <div class="col-md-6 col-md-offset-3">
    {% include 'messages.html' %}

    <h3>{{ object.username }}</h3>

    <p>
      {% url 'users:change_password' object.username as change_password_url %}

      {% blocktrans trimmed %}
        Use the <a href='{{ change_password_url }}'>change password form
        </a> to change the password.
      {% endblocktrans %}
    </p>

    <form class="form" method="post">
      {% csrf_token %}

      {{ form|bootstrap }}

      <input type="submit" class="btn btn-primary"
             value="{% trans "Save Changes" %}"/>
    </form>
  </div>
{% endblock %}

{% block page_js %}
  <script>
    $('#id_username').focus();
  </script>
{% endblock %}
